*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 16px 54px;
    background-color: cadetblue;
    gap: 40px;  
}
.logo {
    text-align: left;
    font-size: 45px;
    color: white;
}
.logo a {
    text-decoration: none;
    color: white;
}
.logo a:hover {
    color: palegreen;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    
}
header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px ;
    color: white;
    
}
header nav ul li a:hover{
    color: red;
    
}

.btn-click {
   padding: 12px 20px;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 41px;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;


}
.btn-click:hover {
    background-color: grey;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2px;
    padding: 40px;
    width: 100%;
}
.hero-left {
    text-align: left;
}
.hero-right {
    text-align: right;
    height: auto;

}
.hero-right img {
    max-width: 100%;
    height: auto;
}
.cta {
    grid-column: 1/-1;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.our-partner{
 grid-column: 1/-1;
 font-size: 18px;
 font-weight: 600;
 color: #333;

}


.list-item li {
    list-style: none;
    text-align: left;
}
.list-item {
    grid-column: 1/-1;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    font-weight: 600;
}

